force-app/main/default/flows/Get_Order_By_PO_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Agentforce action: look up an Order by PO Number. Used by the agent to retrieve order details for a customer.</description>
    <interviewLabel>Get Order By PO Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Order By PO Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>
    <variables>
        <name>poNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <recordLookups>
        <name>Lookup_Order</name>
        <label>Lookup Order</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PoNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>poNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Assign_Order</targetReference>
        </connector>
    </recordLookups>
    <assignments>
        <name>Assign_Order</name>
        <label>Assign Order</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>orderRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Order</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Order</targetReference>
        </connector>
    </start>
</Flow>
